# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspacedata
project.xcworkspace/
**/*.xcuserstate
**/xcuserdata/

# CocoaPods
Pods/

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
DerivedData/

# IDEs
.idea/
*.swp
Podfile.lock
