# Xcode
xcuserdata/
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.xcworkspacedata
MoviesApp.xcworkspace/xcuserdata/

# CocoaPods
Pods/

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
DerivedData/

# IDEs
.idea/
*.swp
Podfile.lock
